<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <table >
            <tr class="contact-list">
                <td>
                  <div class="media">
                    <a class="pull-left thumbnail" href="mailto:w.aziz@uva.nl">
                      <img src="/nlmi/img/ico/UvA.png" alt=""/>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <a class="pull-left thumbnail" href="https://github.com/uva-slpl">
                      <img src="/nlmi/img/ico/github.png" alt=""/>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="media">
                    <a class="pull-left thumbnail" href="/nlmi/feed.xml">
                      <img src="/nlmi/img/ico/rss.svg" height="16" width="16" alt=""/>
                    </a>
                  </div>
                </td>
          </tr>
        </table>
      </div>

      <div class="footer-col  footer-col-2">

      </div>

      <div class="footer-col  footer-col-3">
          <p class="text" align="right">Last updated {{ site.time | date: "%B %d, %Y" }}.</p>
      </div>
    </div>

  </div>

</footer>
